.red-colour{
    color:red;
}
html{
    background-color: #00539F
}
ul{
    list-style-type: none;
}
img{
    align-content: center;
    width: 200px;
}
body {
    width: 600px;
    margin: 10px auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px dashed black;
  }
  h1 {
    margin: 0;
    padding: 20px 0;    
    color: #00539F;
    text-shadow: 3px 3px 1px black;
  }